$timeline-w: 1.5rem;
$timeline-h: 1.5rem;
%timelineLinear {
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
  left: 0;
  width: 100%;
  height: 2px;
}

.timeline {
  position: relative;
  ul {
    position: relative;
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    &.linear-0 {
      &:before {
        content: '';
        @extend %timelineLinear;
        background: linear-gradient(90deg, $primary 0%, $primary 0%, lighten($primary, 40) 0%, lighten($primary, 40) 100%);
      }
    }
    &.linear-1 {
      &:before {
        content: '';
        @extend %timelineLinear;
        background: linear-gradient(90deg, $primary 0%, $primary 33.3%, lighten($primary, 40) 33.3%, lighten($primary, 40) 100%);
      }
    }
    &.linear-2 {
      &:before {
        content: '';
        @extend %timelineLinear;
        background: linear-gradient(90deg, $primary 0%, $primary 67%, lighten($primary, 40) 67%, lighten($primary, 40) 100%);
      }
    }
    &.linear-3 {
      &:before {
        content: '';
        @extend %timelineLinear;
        background: linear-gradient(90deg, $primary 0%, $primary 100%, lighten($primary, 40) 100%, lighten($primary, 40) 100%);
      }
    }
    li {
      position: relative;
      list-style: none;
      cursor: pointer;
      text-align: center;
      text-indent: -9999px;
      &:before {
        content: attr(data-list);
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -$timeline-w/2;
        width: $timeline-w;
        height: $timeline-h;
        border-radius: 25px;
        border: 1px solid $primary;
        background-color: #fff;
      }
      &.active {
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -($timeline-w/2);
          width: $timeline-w;
          height: $timeline-h; // border: 1px solid $primary;
          border-radius: 25px;
          background: linear-gradient(45deg, #27b8dc 0%, #ffafcc 100%);
          filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2));
          transform: scale(0.5);
        }
        &.ok {
          &:after {
            text-indent: 0;
            content: '✔︎';
            background: $primary;
            color: #fff;
            transform: scale(1);
          }
        }
      }
    }
  }
}